.canvas {

    display: flex;

    &.canvas--centered-content {
        align-items: center;
        justify-content: center;
    }

    .canvas__play-button {

        @include h1;
        cursor: pointer;

    }

    .canvas__play-button.canvas__play-button-primary {

        &:hover {
            opacity: 0.85;
        }
    }

}
