.container {
    max-width: $container-max-width;
    margin: 0 $gutter-width;

    @media (min-width: ($breakpoint-desktop-min+($gutter-width*2))) {
        margin: 0 auto;
    }

}

.row {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    &.row--contain {
        flex-wrap: nowrap;
    }
}

.col {

    width: 100%;
    padding-right: ($gutter-width/2);
    padding-left: ($gutter-width/2);

    &.col--single-mobile {
        width: 100%;
    }

    &.col--one-half-tablet {
        @media (min-width: $breakpoint-mobile) {
            width: 50%;
        }
    }

    &.col--one-third-tablet {
        @media (min-width: $breakpoint-mobile) {
            width: (100%/3);
        }
    }

    &.col--two-thirds-tablet {
        @media (min-width: $breakpoint-mobile) {
            width: (100%/3*2);
        }
    }

    &.col--one-quarter-tablet {
        @media (min-width: $breakpoint-mobile) {
            width: 25%;
        }
    }

    &.col--three-quarter-tablet {
        @media (min-width: $breakpoint-mobile) {
            width: 75%;
        }
    }
	
	&.col--one-third-desktop {
        @media (min-width: $breakpoint-tablet) {
            width: (100%/3);
        }
    }
	
    &.col--one-quarter-desktop {
        @media (min-width: $breakpoint-tablet) {
            width: 25%;
        }
    }
	
	&.col--two-thirds-desktop {
        @media (min-width: $breakpoint-tablet) {
            width: (100%/3*2);
        }
    }

    &.col--three-quarter-desktop {
        @media (min-width: $breakpoint-tablet) {
            width: 75%;
        }
    }

    &.col--one-fifth,
    &.col--one-fifth-tablet {
        @media (min-width: $breakpoint-mobile) {
            width: 20%;
        }
    }

    &.no-gutter {
        padding-right: 0;
        padding-left: 0;
    }

    &.col--push-one-quarter {
        margin-left: 25%;
    }

    &.col--push-one-half {
        margin-left: 50%;
    }
}

.element {
    padding-bottom: $vertical-spacing;
}
