.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;

    .lightbox__video-wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        @media (min-width: $breakpoint-portrait-tablet-min) {
            padding: $gutter-width * 2;
        }
    }

    .lightbox__video {
        height: 0;
        width: 100%;
        padding-bottom: 56.25%;
        box-shadow: 0 0 0px 3px rgba(255, 255, 255, 0.14);

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }

    &.lightbox--dark {
        background-color: black;
    }

    &.lightbox--hidden {
        display: none;
    }
}
