/*
 * .nav class element
 */
.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $gutter-width;

    .nav__logo {
        margin-left: $nav-padding-horizontal*-1;
    }

    .nav__menu {

    }

    .nav__menu-item {
        display: inline;
        margin-left: $gutter-width;
    }

    a {
        display: inline-block;
        padding: $nav-padding;
        vertical-align: middle;

        button {
            cursor: pointer;
        }

    }

    a .fa {
        font-size: $base-font-size * 1.6;
        line-height: $base-line-height * 2;
    }

}
