.sheen {
    position: absolute;
    background-color: $color-secondary;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .35;
}

.sheen.sheen-dark {
    background-color: black;
    opacity: 0.75;
}
