.sheen {
    position: absolute;
    background-color: $color-secondary;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .35;
}

.sheen.sheen-dark {
    background-color: black;
    opacity: 0.75;
}

.sheen.sheen-pockerdots {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2NUlZf6f/vhM0YGKIAzMARgKjFUAABP5QgFz2UNowAAAABJRU5ErkJggg==) repeat;
}

.sheen.sheen-math {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQIW2OMq7zlw4ADMIIkF7WrbcEmP+gkAarWGgXyq5CNAAAAAElFTkSuQmCC) repeat;
}
