/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }

audio:not([controls]) {
  display: none; }

b,
strong {
  font-weight: bolder; }

button {
  -webkit-appearance: button;
  overflow: visible; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

button,
select {
  text-transform: none; }

details {
  display: block; }

hr {
  overflow: visible; }

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; }

input {
  -webkit-border-radius: 0; }
  input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; }
  input[type="number"] {
    width: auto; }
  input[type="search"] {
    -webkit-appearance: textfield; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

main {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

summary {
  display: block; }

svg:not(:root) {
  overflow: hidden; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

/*
 * Opinionated defaults
 */
* {
  margin: 0;
  padding: 0; }

*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  touch-action: manipulation; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

svg {
  fill: currentColor; }

[aria-busy="true"] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute; }
  [hidden][aria-hidden="false"]:focus {
    clip: auto; }

/*
 * Configurable defaults
 */
* {
  background-repeat: no-repeat; }

:root {
  background-color: #ffffff;
  box-sizing: border-box;
  color: #000000;
  cursor: default;
  font: 100%/1.5 sans-serif; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit; }

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

small {
  font-size: 75%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::-moz-selection {
  background-color: #b3d4fc;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  color: #ffffff;
  text-shadow: none; }

/*---------
  Variables
---------*/
/** Breakpoints **/
/** Font **/
/** Box Shadow **/
/** Font Headings **/
/** Colors **/
/** Color Hues **/
/** Links **/
/** Nav **/
/** Full Nav **/
/** Grid **/
/** Button **/
body, html {
  font-family: "Poppins", sans-serif;
  color: #251F1A; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1.6rem; }

h1 {
  font-size: 1.85rem;
  line-height: 2.4rem; }
  @media screen and (min-width: 35rem) {
    h1 {
      font-size: 3.8rem;
      line-height: 4rem; } }

h2 {
  font-size: 1.65rem;
  line-height: 2.4rem; }
  @media screen and (min-width: 35rem) {
    h2 {
      font-size: 2.6rem;
      line-height: 3.2rem; } }

h3 {
  font-size: 1.5rem;
  line-height: 1.6rem; }
  @media screen and (min-width: 35rem) {
    h3 {
      font-size: 2rem;
      line-height: 2.4rem; } }

h4 {
  font-size: 1.4rem;
  line-height: 1.6rem; }

h5 {
  font-size: 1rem;
  line-height: 1.6rem; }

h6 {
  font-size: 0.8rem;
  line-height: 1.6rem; }

p {
  font-size: 0.8rem;
  line-height: 1.6rem; }
  @media screen and (min-width: 15rem) {
    p {
      font-size: 1rem; } }

a {
  color: #FB275A; }
  a:hover, a:active {
    color: #F77090; }

.fill-primary {
  background-color: #ffffff; }

.fill-secondary {
  background-color: #251F1A; }

.fill-tertiary {
  background-color: #927662; }

.fill-attention {
  background-color: #FB275A; }

.fill-minor {
  background-color: #F7EDF9; }

@media (max-width: 35rem) {
  .hidden-mobile {
    display: none !important; } }

@media (min-width: 35rem) {
  .visible-tablet {
    display: inherit !important; } }

@media (min-width: 50rem) {
  .visible-desktop {
    display: inherit !important; } }

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.border-bottom-default {
  box-shadow: 0 1px 0px 0px rgba(247, 71, 127, 0.15); }

.border-white {
  border: 5px solid white; }

.vertical-padding-top {
  padding-top: 3.2rem; }

.vertical-padding-bottom {
  padding-bottom: 1.6rem; }

.flex-center-content {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.text-center {
  text-align: center; }

.full-width-image {
  width: 100%;
  height: auto; }

.nav-padding {
  position: relative;
  display: block;
  margin-top: 54px;
  width: 100%; }
  @media only screen and (min-width: 35rem) {
    .nav-padding {
      margin-top: 76px; } }

.font-white {
  color: white; }

.font-attention {
  color: #FB275A; }

.circular-image {
  border-radius: 100%; }

img.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

hr {
  margin-bottom: 1.6rem;
  margin-bottom: calc(1.6rem - 1px);
  border-bottom-width: 1px; }

section,
header,
footer {
  display: block;
  position: relative; }

div {
  box-sizing: border-box;
  position: relative; }

.table {
  width: 100%; }
  .table td {
    font-size: 1rem;
    line-height: 1.6rem; }

/*
 * .nav class element
 */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem; }
  .nav ul {
    margin-left: 0; }
  .nav .nav__logo {
    margin-left: -0.8rem; }
  .nav .nav__menu-item {
    display: inline;
    margin-left: 1.6rem; }
  .nav a {
    display: inline-block;
    padding: 0.8rem 0.8rem;
    vertical-align: middle; }
    .nav a button {
      cursor: pointer; }
  .nav a .fa {
    font-size: 1.6rem;
    line-height: 1.6rem; }

.full-nav {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  @media (max-height: 35rem) {
    .full-nav {
      overflow-y: auto !important; } }
  .full-nav .full-nav__item .full-nav__item-link {
    font-family: "Poppins", sans-serif;
    display: block;
    padding: 1.6rem 0;
    font-size: 1.5rem;
    line-height: 1.6rem;
    text-transform: capitalize;
    font-weight: 400;
    top: -250px; }
    @media screen and (min-width: 35rem) {
      .full-nav .full-nav__item .full-nav__item-link {
        font-size: 2rem;
        line-height: 2.4rem; } }

.container {
  max-width: 67rem;
  margin: 0 1.6rem; }
  @media (min-width: 70.2rem) {
    .container {
      margin: 0 auto; } }

.row {
  display: flex;
  flex-wrap: wrap; }
  .row.row--contain {
    flex-wrap: nowrap; }

.col {
  width: 100%;
  padding-right: 0.8rem;
  padding-left: 0.8rem; }
  .col.col--single-mobile {
    width: 100%; }
  @media (min-width: 35rem) {
    .col.col--one-half-tablet {
      width: 50%; } }
  @media (min-width: 35rem) {
    .col.col--one-third-tablet {
      width: 33.33333%; } }
  @media (min-width: 35rem) {
    .col.col--two-thirds-tablet {
      width: 66.66667%; } }
  @media (min-width: 35rem) {
    .col.col--one-quarter-tablet {
      width: 25%; } }
  @media (min-width: 50rem) {
    .col.col--one-quarter-desktop {
      width: 25%; } }
  @media (min-width: 35rem) {
    .col.col--three-quarter-tablet {
      width: 75%; } }
  @media (min-width: 50rem) {
    .col.col--three-quarter-desktop {
      width: 75%; } }
  @media (min-width: 35rem) {
    .col.col--one-fifth, .col.col--one-fifth-tablet {
      width: 20%; } }
  .col.no-gutter {
    padding-right: 0;
    padding-left: 0; }
  .col.col--push-one-quarter {
    margin-left: 25%; }
  .col.col--push-one-half {
    margin-left: 50%; }

.element {
  padding-bottom: 1.6rem; }

button,
.btn {
  padding: 0.8rem 1.6rem; }

button.btn.btn-default {
  background-color: #F7EDF9; }
button.btn.btn-primary {
  background-color: #FB275A;
  color: white; }
  button.btn.btn-primary:hover {
    background-color: #F77090; }

.canvas {
  display: flex; }
  .canvas.canvas--centered-content {
    align-items: center;
    justify-content: center; }
  .canvas .canvas__play-button {
    font-size: 1.85rem;
    line-height: 2.4rem;
    cursor: pointer; }
    @media screen and (min-width: 35rem) {
      .canvas .canvas__play-button {
        font-size: 3.8rem;
        line-height: 4rem; } }
  .canvas .canvas__play-button.canvas__play-button-primary:hover {
    opacity: 0.85; }

.sheen {
  position: absolute;
  background-color: #251F1A;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .35; }

.sheen.sheen-dark {
  background-color: black;
  opacity: 0.75; }

.sheen.sheen-pockerdots {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2NUlZf6f/vhM0YGKIAzMARgKjFUAABP5QgFz2UNowAAAABJRU5ErkJggg==) repeat; }

.sheen.sheen-math {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQIW2OMq7zlw4ADMIIkF7WrbcEmP+gkAarWGgXyq5CNAAAAAElFTkSuQmCC) repeat; }

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center; }
  .lightbox .lightbox__video-wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto; }
    @media (min-width: 35rem) {
      .lightbox .lightbox__video-wrapper {
        padding: 3.2rem; } }
  .lightbox .lightbox__video {
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
    box-shadow: 0 0 16px 3px black; }
    .lightbox .lightbox__video iframe {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
  .lightbox.lightbox--dark {
    background-color: black; }
  .lightbox.lightbox--hidden {
    display: none; }

.slider {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.slider.slider-animate-down {
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  height: 0;
  overflow-y: hidden; }

.slider.slider-animate-down.slider-open {
  height: 100%; }

body {
  min-height: 50rem; }

header {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white; }

.dropdown-section {
  z-index: 50; }

footer .nav__menu-item:first-child {
  margin-left: -1.6rem; }

ul {
  margin-left: 1.6rem; }

.bottom-page-border {
  position: fixed;
  width: 100%;
  height: 5px;
  background-color: #FB275A;
  left: 0;
  bottom: 0;
  z-index: 10; }

section:before:not(#meet) {
  position: relative;
  display: block;
  content: " ";
  height: 35px;
  visibility: hidden; }

/*# sourceMappingURL=main.css.map */
