.fill-primary {
    background-color: $color-primary;
}

.fill-secondary {
    background-color: $color-secondary;
}

.fill-tertiary {
    background-color: $color-tertiary;
}

.fill-attention {
    background-color: $color-attention;
}

.fill-minor {
    background-color: $color-minor;
}

.hidden-mobile {
    @media (max-width: $breakpoint-mobile-max) {
        display: none !important;
    }
}

.bg-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.border-bottom-default {
    box-shadow: $nav-box-shadow;
}

.vertical-padding-top {
    padding-top: $vertical-spacing;
}

.vertical-padding-bottom {
    padding-bottom: $vertical-spacing;
}

.flex-center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-center {
    text-align: center;
}
