.fill-primary {
    background-color: $color-primary;
}

.fill-secondary {
    background-color: $color-secondary;
}

.fill-tertiary {
    background-color: $color-tertiary;
}

.fill-attention {
    background-color: $color-attention;
}

.fill-minor {
    background-color: $color-minor;
}

.hidden-mobile {
    @media (max-width: $breakpoint-mobile-max) {
        display: none !important;
    }
}
