.fill-primary {
    background-color: $color-primary;
}

.fill-secondary {
    background-color: $color-secondary;
}

.fill-tertiary {
    background-color: $color-tertiary;
}

.fill-attention {
    background-color: $color-attention;
}

.fill-minor {
    background-color: $color-minor;
}
