.fill-primary {
    background-color: $color-primary;
}

.fill-secondary {
    background-color: $color-secondary;
}

.fill-tertiary {
    background-color: $color-tertiary;
}

.fill-attention {
    background-color: $color-attention;
}

.fill-minor {
    background-color: $color-minor;
}

.hidden-mobile {
    @media (max-width: $breakpoint-mobile) {
        display: none !important;
    }
}

.visible-tablet {
    @media (min-width: $breakpoint-mobile) {
        display: inherit !important;
    }
}

.visible-desktop {
    @media (min-width: $breakpoint-tablet) {
        display: inherit !important;
    }
}

.bg-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.border-bottom-default {
    box-shadow: $nav-box-shadow;
}

.border-white {
    border: 5px solid white;
}

.vertical-padding-top {
    padding-top: ($vertical-spacing*2);
}

.vertical-padding-bottom {
    padding-bottom: $vertical-spacing;
}

.flex-center-content {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: column;
    justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.full-width-image {
    width: 100%;
    height: auto;
}

.nav-padding {
    position: relative;
    display: block;
    margin-top: 54px;
    width: 100%;

    @media only screen and (min-width: $breakpoint-mobile) {
        margin-top: 76px;
    }
}

.font-white {
    color: white;
}

.font-attention {
    color: $color-attention;
}

.circular-image {
    border-radius: 100%;
}

img.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}
