body, html {
    font-family: $base-font;
    color: $color-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headline-font;
    font-weight: $headline-font-weight;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: $base-bottom-margin;
}

h1 {
    @include h1;
}

h2 {
    @include h2;
}

h3 {
    @include h3;
}

h4 {
    @include h4;
}

h5 {
    @include h5;
}

h6 {
    @include h6;
}

p {

    font-size: $base-font-size * 0.8;
    line-height: $base-line-height * 2;

    @media screen and (min-width: $breakpont-mobile-mid) {
        font-size: $base-font-size;
    }

}

a {
    color: $link-color;

    &:hover,
    &:active {
        color: $link-hover;
    }
}
