/*---------
  Variables
---------*/

$base-line-height: 0.8rem;
$base-font-size: 1rem;
$base-bottom-margin: $base-line-height * 2;

$breakpoint-mobile-max: 767px;
$breakpont-mobile-mid: $breakpoint-mobile-max / 2;
$breakpoint-portrait-tablet-min: 768px;

$base-font: 'Poppins', sans-serif;
$headline-font: 'Life Savers', cursive;
$headline-font-weight: 400;

$color-primary: #F5A46A;
$color-secondary: #251F1A;
$color-tertiary: #927662;
$color-attention: #FB275A;
$color-minor: #F7EDF9;
