/*---------
  Variables
---------*/

$gutter-width: 0.8rem * 2;
$base-line-height: 0.8rem;
$base-font-size: 1rem;
$base-bottom-margin: $base-line-height * 2;

/** Breakpoints **/
$breakpont-mobile-mid: 28rem;
$breakpoint-mobile-max: 39.99rem;
$breakpoint-portrait-tablet-min: 40rem;
$breakpoint-landscape-tablet-min: 70rem;
$breakpoint-desktop-min: 80rem;

/** Font **/
$base-font: 'Poppins', sans-serif;
$headline-font: 'Life Savers', cursive;
$headline-font-weight: 400;

/** Font Headings **/
@mixin h1 {
    font-size: $base-font-size * 1.8;
    line-height: $base-line-height * 3;

    @media screen and (min-width: $breakpoint-portrait-tablet-min) {
        font-size: $base-font-size * 2.6;
        line-height: $base-line-height * 4;
    }
}

@mixin h2 {
    font-size: $base-font-size * 1.6;
    line-height: $base-line-height * 3;

    @media screen and (min-width: $breakpoint-portrait-tablet-min) {
        font-size: $base-font-size * 2;
        line-height: $base-line-height * 3
    }
}

@mixin h3 {
    font-size: $base-font-size * 1.4;
    line-height: $base-line-height * 2;

    @media screen and (min-width: $breakpoint-portrait-tablet-min) {
        font-size: $base-font-size * 1.6;
        line-height: $base-line-height * 3
    }
}

@mixin h4 {
    font-size: $base-font-size * 1.2;
    line-height: $base-line-height * 2;
}

@mixin h5 {
    font-size: $base-font-size;
    line-height: $base-line-height * 2;
}

@mixin h6 {
    font-size: $base-font-size * 0.8;
    line-height: $base-line-height * 2;
}

/** Colors **/
$color-primary: #F5A46A;
$color-secondary: #251F1A;
$color-tertiary: #927662;
$color-attention: #FB275A;
$color-minor: #F7EDF9;

/** Color Hues **/
$color-attention-light: #FF4874;

/** Links **/
$link-color: $color-attention;
$link-hover: #F77090;

/** Nav **/
$nav-padding-vertical: $base-line-height;
$nav-padding-horizontal: $gutter-width;
$nav-padding: $nav-padding-vertical $nav-padding-horizontal;

/** Full Nav **/
$full-nav-padding: ($base-line-height * 2) 0;

/** Grid **/
$container-max-width: 80rem;

/** Button **/
$button-padding: $base-line-height $gutter-width;

$button-primary-color: $color-attention;
$button-primary-hover-color: $link-hover;
$button-primary-text-color: white;

$button-default-color: $color-minor;
$button-default-hover-color: $color-minor;
